<h1>Menu</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <% @sections.each do |section| %>
      <li class="nav-item">
        <%= link_to section, menu_path(section: section), class: "nav-link #{params[:section] == section && 'active'}" %>
      </li>
    <% end %>
  </li>
</ul><br/>

<%= form_tag menu_path, method: :get do %>
  <p>
    Sort by:
    <%= select_tag "sort", options_for_select([['Name', 'name asc'], ['Highest price first', 'price desc'], ['Lowest price first', 'price asc']], params[:sort]) %>
    <%= hidden_field_tag :section, params[:section] %>
    <%= submit_tag 'Submit', class: 'button' %>
  </p>
<% end %>

<div class="row">
  <div id="menu-item-listing" class="col-sm-6">
    <ul>
      <% @food_items.each do |item| %>
        <li id="item-<%= item.id %>" class="menu-item">
          <%= item.name %> - <%= number_to_currency item.price, unit: 'VND ', precision: 0 %>

          <div class="hidden">
            <div class="card">
              <div class="card-block">
                <%= image_tag item.image_url_or_auto %>
              </div>
              <div class="card-block">
                <%= item.description %>
              </div>
            </div>
            <%= link_to "Create Order", new_order_path(food_item_id: item.id), class: 'btn btn-danger' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="menu-item-content" class="col-sm-6">
    item content
  </div>
</div>

<script type="text/javascript">
  $(".menu-item").click(function() {
    var html = $(this).find('.hidden').html();
    $('#menu-item-content').html(html);
  });
</script>
