<h1>Menu</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <% @sections.each do |section| %>
      <li class="nav-item">
        <%= link_to section, menu_path(section: section), class: "nav-link #{params[:section] == section && 'active'}" %>
      </li>
    <% end %>
  </li>
</ul><br/>

<%= form_tag menu_path, method: :get do %>
  <p>
    Sort by:
    <%= select_tag "sort", options_for_select([['Name', 'name asc'], ['Highest price first', 'price desc'], ['Lowest price first', 'price asc'], ['Most viewed', 'view_count desc']], params[:sort]) %>
    <%= hidden_field_tag :section, params[:section] %>
    <%= submit_tag 'Submit', class: 'button' %>
  </p>
<% end %>

<div class="row">
  <div id="menu-item-listing" class="col-sm-6">
    <% @food_items.each do |item| %>
      <div id="item-<%= item.id %>" class="menu-item card">
        <%= item.name %> - <%= number_to_currency item.price, unit: 'VND ', precision: 0 %> (<%= pluralize item.view_count, 'view' %>)

        <div class="hidden">
          <div class="card">
            <div class="card-block">
              <%= image_tag item.image_url_or_auto %>
            </div>
            <div class="card-block">
              <%= item.description %>
            </div>
            <div class="card">
              <div class="card-block">
                <h3>New review</h3>
                <%= form_for Review.new(food_item: item) do |f| %>
                  Rating: <%= f.select :rating, options_for_select((1..5).to_a) %>
                  Content: <%= f.text_area :content %>
                  <%= f.hidden_field :food_item_id %>
                  <%= f.submit %>
                <% end %>
              </div>
            </div>
            <h3>Reviews</h3>
            <ul>
              <% item.reviews.each do |review| %>
                <li>
                  <strong>Rating:</strong> <%= pluralize review.rating, 'star' %><br/>
                  <strong>Content:</strong> <%= review.content %>
                </li>
              <% end %>
            </ul>
          </div>
          <%= link_to "Create Order", new_order_path(food_item_id: item.id), class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="menu-item-content" class="col-sm-6">
    item content
  </div>
</div>

<script type="text/javascript">
  $(".menu-item").click(function() {
    var html = $(this).find('.hidden').html();
    $('#menu-item-content').html(html);
    $(".menu-item").removeClass('active');
    $(this).addClass('active');
    return false;
  });

  $(document).ready(function() {
    $(".menu-item")[0].click();
  });
</script>
