<h1>Menu</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <% @sections.each do |section| %>
      <li class="nav-item">
        <%= link_to section, menu_path(section: section), class: "nav-link #{params[:section] == section && 'active'}" %>
      </li>
    <% end %>
  </li>
</ul>

<% @food_items.each do |item| %>
  <div class="card">
    <div class="card-block">
      <%= item.name %>
    </div>
    <div class="card-block">
      <%= image_tag item.image_url_or_auto %>
    </div>
    <div class="card-block">
      <%= item.description %> - <%= number_to_currency item.price, unit: 'VND ', precision: 0 %>
    </div>
  </div>
<% end %>
