<p id="notice"><%= notice %></p>

<p>
  <div class="card">
    <% item = @order.food_item %>
    <div class="card-block">
      <h2><%= item.name %></h2>
    </div>
    <div class="card-block">
      <%= image_tag item.image_url_or_auto %>
    </div>
    <div class="card-block">
      <%= item.description %>
    </div>
    <div class="card-block">
      TOTAL COST: <%= number_to_currency item.price + 20000, unit: 'VND ', precision: 0 %>
    </div>
  </div>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Order at:</strong>
  <%= @order.created_at.strftime("%A, %B %-d, %Y, %k:%M") %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
