<!DOCTYPE html>
<html>
<head>
  <title>CoderRestaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  <nav class="navbar navbar-light bg-faded">
     <%= link_to "CoderRestaurant", root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= menu_path %>">Menu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= contact_us_path%>">Contact Us</a>
      </li>
    </ul>
    <%= form_tag menu_path, method: :get, class: "form-inline pull-xs-right" do %>
      <%= text_field_tag :keyword, params[:keyword], class: "form-control", placeholder: "Keyword to search" %>
      <%= hidden_field_tag :section, params[:section] %>
      <%= submit_tag 'Search', class: 'btn btn-success-outline' %>
      </p>
    <% end %>
  </nav>
  </div>
</body>



<div class="container">
  <%= yield %>
</div>

</body>
</html>
